package conf

type DbManager struct {
	User     string
	Password string
	Dbname   string
	Host     string
	Port     string
}

var MasterDb = &DbManager{
	User:     "root",
	Password: "",
	Dbname:   "accounts",
	Host:     "localhost",
	Port:     "3306",
}
